.topBody{
    background-image: url(/imgs/landingBackImg_Edit.png);
    background-position-y: 100%;
    background-repeat: repeat-x;
    background-size: contain;
}

/* topBox */
    .topBox {
        width: 100%;
        margin: auto;
    }
/* leftBox */
    .topBox .leftBox{
        padding: 10rem 1.5rem;
    }

    .topBox .leftBox .leftBox_top h2,
    .topBox .leftBox .leftBox_top h4{
        color: rgb(83, 83, 83);
        text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6)
    }

    .topBox .leftBox .leftBox_btm {
        margin-top: 25px;
    }

    .topBox .leftBox .leftBox_btm .btn{
        border-radius: 7px;
        margin-bottom: 5px;
        height: 50px;
        font-size: 23px;
        display: block;
    }

/* rigthBox */
    .topBox .rigthBox .mySlides{ 
        width: 100%;
        height: 100%;
    }
    
    /* Fading animation */
    .topBox .rigthBox div.fade {
        -webkit-animation-name: fade;
        -webkit-animation-duration: 1.5s;
        animation-name: fade;
        animation-duration: 1.5s;
    }

    .topBox .rigthBox div.fade img{
        height: 32rem;
        margin: 0 auto;
        display: block;
    }
    
    @-webkit-keyframes fade {
        from {opacity: .4} 
        to {opacity: 1}
    }
    
    @keyframes fade {
        from {opacity: .4} 
        to {opacity: 1}
    }
    
    /* On smaller screens, decrease text size */
    @media only screen and (max-width: 300px) {
        .text {font-size: 11px}
    }

/* loading */
    #loading {
        display: none;
        width: 100%;  
        height: 100%;  
        top: 0px;
        left: 0px;
        position: fixed;  
        display: block;  
        opacity: 0.7;  
        background-color: #fff;  
        z-index: 99;  
        text-align: center; 
    } 
        
    #loading-image {  
        position: absolute;  
        top: 50%;  
        left: 45%; 
        z-index: 100; 
    }

/* lotoLogo */
    .lotoLogo {
        position: relative;
        text-align: center;
        margin-top: 5%;
    }
/* Modal */
    .modal-content .modal-body {
        text-align: center;
    }


/* モバイル */
    @media (max-width: 576px) {
        .topBody{
            background-image: url(/imgs/landingBackImg_Edit.png);
            background-position-y: 100%;
            background-repeat: repeat-x;
            background-size: contain;
            padding-bottom: 3rem;
        }
        .topBox .leftBox{
            padding: 3rem 1rem 1rem 1rem;
        }
        .topBox .leftBox h2{
            font-size: 2rem;
        }
        .topBox .leftBox h4{
            font-size: 1rem;
        }
        /* Navロゴ */
        .menu__mobile-button span.mobileIcon svg {
            font-size: 26px;
            transform: translateY(-20%);
        }
        
    }